@import "stylesheets/color-variables.css";
@import "stylesheets/global-formatting.css";
@import "stylesheets/icon-styling.css";
@import "stylesheets/header.css";
@import "stylesheets/heroSection.css";
@import "stylesheets/faqSection.css";
@import "stylesheets/timeline.css";
@import "stylesheets/skills.css";

section {
  min-height: 50vh;
  padding: 3rem 5rem;
  text-align: center; /* Center align section content */
}

.section-title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

section:nth-child(odd) {
  background-color: var(--secondary-color-1);
  color: var(--text-white);
}

section:nth-child(even) {
  background-color: var(--secondary-color-2);
  color: var(--text-black);
}

.hidden {
  display: none;
}

.contact-links {
  margin-top: 2rem;
}

.contact-link {
  margin: 1rem;
  padding: 0.5rem;
  background-image: linear-gradient(var(--tertiary-color), var(--tertiary-color));
  background-size: 100% 0.1rem;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.contact-link:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.contact-link-text {
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
  .contact-links {
    display: inline-flex;
    flex-direction: column;
  }

  .contact-link {
    margin: 0.5rem;
  }
}