.bubble-wrap {
  overflow: hidden;
  height: 600px;
  /* only for first iteration */
  margin-top: 1rem;
}

.bubbles {
  position: relative;
  background: salmon;
}

.bubble {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 
    0 1rem 2rem rgba(0, 0, 0, 0.1),
    0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo01 { background-image:  url('../assets/react.png'); }
.logo02 { background-image:  url('../assets/laptop.png'); }
.logo03 { background-image:  url('../assets/laptop.png'); }
.logo04 { background-image:  url('../assets/laptop.png'); }
.logo05 { background-image:  url('../assets/laptop.png'); }
.logo06 { background-image:  url('../assets/laptop.png'); }
.logo07 { background-image:  url('../assets/laptop.png'); }
.logo08 { background-image:  url('../assets/laptop.png'); }
.logo09 { background-image:  url('../assets/laptop.png'); }
.logo010 { background-image: url('../assets/laptop.png'); }
.logo011 { background-image: url('../assets/laptop.png'); }
.logo012 { background-image: url('../assets/laptop.png'); }
.logo013 { background-image: url('../assets/laptop.png'); }
.logo014 { background-image: url('../assets/laptop.png'); }
.logo015 { background-image: url('../assets/laptop.png'); }
.logo016 { background-image: url('../assets/laptop.png'); }
.logo017 { background-image: url('../assets/laptop.png'); }
.logo018 { background-image: url('../assets/laptop.png'); }
.logo019 { background-image: url('../assets/laptop.png'); }
.logo020 { background-image: url('../assets/laptop.png'); }