:root {
  --secondary-color-1: #2f9c95;
  --secondary-color-2: #a3f7b5;
  --tertiary-color: #40c9a2;
  --skills-green: #68d391;
  --skills-light-blue: #60a5fa;
  --skills-dark-blue: #1a202c;
  --skills-gray: #f7fafc;
  --skills-red: #f56565;
  --yellow: #faf089;
  --text-black: #212427;
  --text-white: #fff;
}
