header {
  background-color: var(--secondary-color-1);
  color: var(--text-white);
  text-align: right; /* Align header links to the right */
  padding: 2rem 1rem;
  width: 100%;
  font-weight: bold; /* Increase header thickness */
  box-sizing: border-box;
}

.header-link {
  display: inline;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(var(--text-white), var(--text-white));
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, color .7s, background-position .5s ease-in-out;
}

.logo {
  float: left;
}

.header-link:hover {
  color: var(--secondary-color-1);
  opacity: 1;
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, color .7s, background-size .5s ease-in-out;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    padding: 1rem;
    display: inline;
  }

  .header-link {
    display: none;
  }

  .responsive {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .responsive .menu-icon {
    margin-bottom: 1rem;
  }

  .responsive .header-link {
    display: block;
    text-align: left;
    border-radius: 0;
  }
  
}