.name-banner {
  font-size: 2rem;
}

.hero-description {
  display: flex;
  justify-content: space-evenly;
}

.hero-description p {
  text-align: left;
  flex-basis: 50%;
}

.hero-image {
  max-width: 24rem;
  max-height: 24rem;
  border-radius: 50%;
}

.hero-image-wrapper {
  max-width: 24rem;
  max-height: 24rem;
  border-radius: 50%;
  animation: pulsing 3s ease-in infinite;
}
/* TODO: Make the wrapper pulsing without making the image pulsing */

.hero-image-wrapper:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 600px) {
  .hero-description {
    flex-direction: column;
  }
}

@keyframes pulsing {
  0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}