.name-banner {
  font-size: 2rem;
}

.hero-description {
  display: flex;
  justify-content: space-evenly;
}

.hero-description p {
  text-align: left;
  flex-basis: 50%;
}

.hero-image {
  max-width: 24rem;
  max-height: 24rem;
  border-radius: 50%;
}

.hero-image-wrapper {
  max-width: 24rem;
  max-height: 24rem;
  border-radius: 50%;
  animation: floating 3s ease-in infinite;
}

.hero-image-wrapper:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 600px) {
  .hero-description {
    flex-direction: column;
  }
}

@keyframes floating {
  0% { transform: translate(0,  0); }
  25%  { transform: translate(0, 0.5rem); }
  75%  { transform: translate(0, -0.5rem); }
  100%  { transform: translate(0, 0); }
}